.title_edit {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 25px;
}

.pets_selector {
  display: flex;
  color: $dark;
  justify-content: center;
  margin-bottom: 50px;
  }

.add_pet {
  color: $yellow;
}

.pets_selector_cards {
  display: flex;
}

.main-box {
  width: 390px;
  height: auto;
  background-color: rgba(253, 251, 242, 1);
  position: absolute;
}

.return-link {
  padding: 25px;
  
  a {
    color: $secondary-dark;
    font-family: "montserrat";
  }

}

.form-control {
  border-color: #FBC42B;
  border-radius: 10px;
}
.form-container {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin: 15px 0px;
}