#edit-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: space-between;

  #user_search_start_date {
    border-radius: 15px 15px 0px 0px;
  }
  #user_search_end_date {
    border-radius: 0px 0px 15px 15px;
  }

  #user_search_start_date, #user_search_end_date {
    height: 58px;
    width: 100%;
    background-color: white;
    padding: 0px 25px;
    border: 2px solid $yellow;
    //margin-bottom: 0px;
    text-align: center;
  }
}

.title_edit {
  // margin-top: 50px;
  text-align: center;
  margin: 25px 0px;
}

.pets_selector {
  display: flex;
  color: $dark;
  flex-direction: column;
}

.add_pet {
  color: $yellow;
}

.pets_selector_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .pets_selector_card {
    margin-bottom: 25px;
  }
}

.dark-return-link {
  padding: 25px;
  font-weight: 700;
  color: $secondary-dark;
  display: block;
  font-family: "montserrat";
}

.form-body {
  padding: 0px 25px;
  // margin-bottom: 90px;
}

#date-input p {
  margin: 0;
  padding-left: 8px;
  font-size: 16px;
}

#search-button {
  width: 100%;
  height: 48px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: 1px solid transparent;
  font-family: "montserrat";
  font-weight: 700;
}

.btn-footer-form {
  margin: 25px;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.spacer-bottom {
  margin-bottom: 100px;
}
.input-field-dt {
  width: 100%;
}
// span#edit-wrapper.datetime-input-edit-wrapper