.main_with_background {
  background-image: url(https://images.unsplash.com/photo-1587463272361-565200f82b33?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2187&q=80);
  background-size: cover;
  height:calc(100vh - 82px);
  padding-top: 57px;
  object-fit: cover;
}


.title_container {
  margin-left: 39px;
  font-weight: bold;
  font-size: 55px;
  line-height: 65px;
  color: white;
  font-family: Ubuntu;
  display: flex;
}

.user_title_box{
  width: 145px;
  margin-right: 44px;
  h1 {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 55px;
    line-height: 65px;
  }
}

.user_search_input_form_container {
  margin-top: 98px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  .btn {
    width: 100%;
    height: 48px;
    border-radius: 15px;
    background-color: #FBC42B;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
  h3 {
    padding-bottom: 40px;

  }
}

.user_search_input_form {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  text-align: center;
}

.form-control {
border-color: #FBC42B;
border-radius: 10px;
}
