// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FBC42B; //ok ne pas toucher svp
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Projet colors:
$primary: #FBC42B;
$light: #FDFBF2;
$dark: #0E2012;
$secondary: #5CD699;
$secondary-dark: #274640;
