// Specific CSS for your home-page

// .center_map {
//   width: 390px;
//   height: 844px;
// }


.input_groups {
  width: 340px;
  height: 280px;
  margin-top: 475px;
  margin-left: 25px;
  margin-right: 25px;
}
