<div class="body-justify booking-page" data-controller="toggle">
  <div id="booking-index-title">
    <h3>Mes réservations</h3>
  </div>

  <div id="booking-button-swipe">
    <div id="bookings-toggle-left" class="active" data-toggle-target="btn" data-action="click->toggle#switchView">À venir</div>
    <div id="bookings-toggle-right" data-toggle-target="btn" data-action="click->toggle#switchView">Passées</div>
  </div>

  <div class="booking-list">
    <div id="booking-list-future" class="" data-toggle-target="swipeListFuture">
      <%= render "bookings/list", { list: @future_bookings, active: true } %>
    </div>
    <div id="booking-list-past" class="swiped-list-right" data-toggle-target="swipeListPast">
      <%= render "bookings/list", list: @past_bookings %>
    </div>
  </div>
</div>
