<div class="title-wrapper">
  <div class="container">
    <h1 class="title">Votre binôme online</h1>
  </div>
</div>

<div class="container">
  <div
    class="twilio-video"
    data-sid="<%= ENV["ACCOUNT_SID"] %>"
    data-room="<%= @booking %>"
    data-token="<%= @token %>"
    >

    <div class="row justify-content-between">
      <div class="col-7">
        <div class="participant">
        </div>
      </div>
      <div class="col-4">
        <div class="remote-media-div text-center">
          <video id="userVideo" autoplay muted="true" ></video>
          <div>
            <button id='leave-btn' class='btn btn-primary mt-3'>
              Quittez
            </button>
          </div>
        </div>
      </div>
    </div>

    <%= link_to '', root_path, class: 'd-none root-link', data: {turbolinks: false}  %>

  </div>
</div>
