<div class="footer">
  <a href="#news"><i class="far fa-receipt">H</i></a>
  <a href="#home" class="active"><i class="far fa-home">H</i></a>
  <a href="#contact"><i class="far fa-paw">H</i></a>
</div>