<div class="footer">
  <a href="#" class="icon"><i class="far fa-receipt">H</i></a>
  <a href="http://localhost:3000/" class="active" id="paw"><i class="far fa-home">H</i></a>
  <a href="#" class="icon"><i class="far fa-paw">H</i></a>
</div>