<div>
  <%= link_to "< RETOUR", root_path, class:"dark-return-link", id:"dark-return" %>
  <div id="thanks-and-btn">
    <h1 id="thanks">Merci ! </h1>
    <%= link_to "VOIR MA RÉSERVATION", bookings_path, class:"btn-white" %>
  </div>

  <div class="footer-yellow">
    <div class="btn-footer-yellow">
      <%= link_to "RETOUR À LA PAGE D'ACCUEIL", root_path, class:"btn-white" %>
    </div>
  </div> 
</div>