<div>
  <div class="container">
    <%= link_to "< RETOUR", root_path, class:"dark-return-link", id:"dark-return" %>

    <div class="thanks">
      <h1>Merci !</h1>
      <%= link_to "VOIR MA RÉSERVATION", bookings_path, class: "pages-index-link" %>
    </div>

  </div>
</div>
<%# <h1>PAYMENT PAGE</h1> %>
