<h3><%= result[1].name %></h3>
<h4>Détour : <%= result[2].ceil(2) %>Km</h4>
<% if result[1].id == 4 %>
  <img src="https://kitt.lewagon.com/placeholder/users/medericmesle" width="30" height="30" alt="">
<% end %>
