.container_pension_map {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  background-color: #FDFBF2;
  position: relative;
  border: 1px solid black;
}
#search-form{
  background-color: $yellow ;
  border-radius: 0px 0px 25px 25px;
  padding: 25px;
  position: absolute;
  z-index: 2;
  width: 388px;
  height: 155px;
  overflow: hidden;
}

.input_form_search{
  border-radius: 15px;
  height: 50px;
  width: 290px;
  padding-left: 36px;
  border: 0px;
}

#map {
  top: 0px;
  left: 0px;
}
#nb-pension-result {
  background-color: $yellow ;
  border-radius: 25px 25px 0px 0px;
  height: 180px;
  position: absolute;
  width: 388px;
z-index: 3;
  bottom: 0px;
  p {
    width: 340px;
    height: 48px;
    margin-top: 25px;
    margin-left: 15px;
    background-color: $white;
    color: $green-black;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
  }
  strong {
    font-size: 20px;
  }

#display-result-pensions {
  top: -662px;
  left: 0px;
  position: absolute;
  z-index: -1;
  width: 388px;
  height: 844px;
  background-color: $background-light;
}

}
