@import "../components/btn_white";

h3 {
  font-size: 2rem;
  font-weight: 700;
}

#search-form {
  padding: 25px;
  height: 208px;
  visibility: visible;
  transition: ease-in-out 0.5s all;

  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 999;
  border-radius: 0 0 25px 25px;
}

.unfolded {
  transition: ease-in-out 0.5s all;
  height: 412px !important;
}

.folded {
  transition: ease-in-out 0.5s all;
  height: 208px !important;
}

.swiped-formulus-container {
  height: 65px !important;
  transition: ease-in-out 0.5s all;
}

.swiped-formulus {
  height: 0 !important;
  visibility: hidden;
  transition: ease-in-out 0.5s all;
}

#mega-div {
  position: relative;
  top: 0;
  transition: ease-in-out 0.5s all;
}

.swiped-mega {
  top: -430px !important;
  transition: ease-in-out 0.5s all;
}

.input_form_search {
  border-radius: 0;
}

.form-control {
  border-radius: 0 !important;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#txt-btn {
  height: 48px;
  position: relative;
  bottom: 0px;
  transition: ease-in-out 0.5s all;

  > p {
    margin: 0;
    height: 48px;
  }
}

.swiped-txt {
  bottom: 48px !important;

  > &:first-child {
    opacity: 0%;
    transition: ease-in-out 0.5s all;
  }
}

#user_search_start_date, #user_search_end_date {
  display: flex;
  height: 50px;
  align-items: center;
  margin-bottom: 15px;
}

.mask_div {
  display: none;
}

.display_div {
  display: block;
}


.user_search_end_address {
  margin-bottom: 26px;
}

#map {
  height: calc(100vh - 208px - 98px - 82px + 50px);
  top: -25px;
}


.input_form_search {
  border-radius: 15px;
  height: 50px;
  padding-left: 36px;
  border: 0px;
}

.link-back {
  line-height: 18px;
  color: $white;
}

.link-back a {
  text-decoration: none;
}

#form-search-simple {
  margin-top: 18px;

  #location-close-form {
    display: flex;

    #location-form {
      display: flex;
      flex-direction: column;
    }

    #close {

      p {
        margin: 0;
        height: 24px;
        width: 24px;
      }
    }
  }

  #date-form {
  display: flex;
  gap: 5px;

  > :first-child {
    border-radius: 15px 0 0 15px;
  }

    > :last-child {
    border-radius: 0 15px 15px 0;
  }

  > * {
    border: 0 !important;
  }
}

}

#nb-pension-result {
  background-color: $yellow ;
  border-radius: 0px 0px 0px 0px;
  height: 98px;
  padding:25px;
  position: absolute;
  bottom: 82px;
  width: 100%;
  z-index: 999;
  border-radius: 25px 25px 0 0;

  p {
    background-color: $white;
    color: $green-black;
    text-align: center;
    line-height: 48px;
  }

  strong {
    font-size: 20px;
  }
}

#show-pension-result {
  background-color: $yellow ;
  border-radius: 0px 0px 0px 0px;
  height: 98px;
  padding-top: 16px;

  p {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: $white;
    color: $green-black;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    line-height: 48px;
  }

  strong {
    font-size: 20px;
  }
}

#display-result-pensions {
  width: 100%;
  background-color: $background-light;
  overflow-y: auto;
  height: calc(100vh - 98px - 82px - 74px);
}

.mon-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.black {
  color: black;
}

#back-link-list-pension {
  width: 390px;
  height: 68px;
  padding: 25px;
  font-size: 26px;
}

.txt-center {
  text-align: center;
  padding: 25px;
}

.search-close {
  display: flex;
  gap: 15px;

  > #close {
    display: flex;
    width: 48px;
    flex-shrink: 0;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;

    > p {
      font-weight: bolder;
      font-size: 1.5rem;
      margin: 0;
    }
  }
}
