
.top-box {
  background-color: #FFFFFF;
  border-radius: 0px 0px 40px 40px;
  box-shadow: rgba(16, 40, 101, 0.26) 0px 5px 10px 0px;
  text-align: center;
  position: sticky;
  h3 {
    font-weight: 500;
    font-size: 26px;
    padding-top: 48px;
    color: #274640;
  }
}

.pension-top-box-title {
display: flex;
flex-direction: column;
}

.pension-top-box-rating {
display: flex;
align-items: center;
justify-content: center;
  p {
  padding-right: 5px;
  padding-top: 5px;
  font-size: 20px;
  }
}

.return-link {
  font-weight: 700;
  color:white;
  display: block;
  padding: 25px;
}

.main-card-box {
  overflow-y: auto;
  height: 100%;
  margin-bottom: 90px;
}


.main-card-box-badge {
  background-color: #FF00000A;
  border-radius: 8px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 20px;
  margin-bottom: 32px;

}

.main-card-box-description {
}

.pension-description {
  margin-bottom: 32px;
}

.pension-address {
  display: flex;
  margin-bottom: 35px;
  justify-content: space-between;
}

.pension-address-marker {
  margin-right: 8px;
}

.pension-address-address {
  width: 142px;
  display: flex;
  i{
    padding-right: 8px;
    padding-top: 5px;
  }
}

.main-card-box-accepted {
  margin-bottom: 32px;
  display: flex;
}

.pension-animal-badge {
  background-color: white;
  width: 105px;
  height: 48px;
  border-radius: 8px;
  margin-right: 12px;
}

.animal_image {
  p {
    padding-left: 8px;
  }
}

.pension-show-journey-box {
background-color: #274640;
color: #FFFFFF;
border-radius: 15px;
padding: 24px;
margin-bottom: 32px;
  h5{
    padding-bottom: 10px;
  }
}

.pension-show-journey-box-badge {
padding: 10px;
text-align: center;
border-radius: 8px;
background-color: #FFFFFF;
color: #274640;
display: flex;
width: fit-content;
}

.pension-show-journey-box-recap {
  display: flex;
  padding-top: 10px;
}


.pension-show-journey-box-recap-icons {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-top: 5px;
  i {
    padding-bottom: 5px;
  }
}

.pension-show-journey-box-address {
  p {
    padding-top: 2px;
  }
}

.pension-reserve-btn {
  border-radius: 15px;
  background-color: #FBC42B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  width: 100%;
  padding: 15px;
  border: 0;
  margin-bottom: 43px;
  a{
    text-decoration: none;
    color: #FFFFFF;
  }
}
