<div class="user_search_top_box">
  <div class="user_title_box">
    <h1>Place for Pets</h1>
  </div>
  <div class="user_paw_box">
  <img src="/app/assets/images/Paw_print.png" alt="">
  </div>
</div>

<div class="user_search_input_form_container">
  <div class="user_search_input_form">
  <h3>Ou allez-vous ?</h3>
    <%= simple_form_for @user_search do |f| %>
      <%= f.input :start_address %>
      <%= f.input :end_address %>
      <%= f.submit "Rechercher", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
