.footer {
  position: fixed !important;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  height: 82px;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
  border-radius: 40px 40px 0px 0px;
  z-index: 1000;
}

svg {
  paint-order: normal;
}

.footer > a:hover:nth-child(n+2) > svg,
.footer > a:focus:nth-child(n+2) > svg {
  color: $yellow;
  fill: $yellow;

  > path {
    stroke: $yellow;
  }
}

.footer > a:hover:first-child > svg,
.footer > a:focus:first-child > svg {
  color: $yellow;
  fill: $yellow;
  paint-order: normal;

  > path:nth-child(-n + 2) {
    stroke: white;
    // paint-order: normal;
    paint-order: markers;
  }

  > path:last-child {
    stroke: $yellow;
  }
}

.footer a {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B0C3CE;
  font-size: 32px;
  height: 82px;
  border-radius: 25px;

  &:hover, &:focus{
    text-decoration: none;
    background-color: #FFF6DF;
  }
}
.footer a.active {
  color: $yellow;
  // background-color: rgba(251, 196, 43, 0.15);
}

#profil.active {
  border-radius: 0px 40px 0px 0px;
}

#recap.active {
  border-radius: 40px 0px 0px 0px;
}
