.footer {
  position: fixed !important;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  height: 82px;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
  border-radius: 40px 40px 0px 0px;
  z-index: 1000;
  overflow: hidden;
}

svg {
  paint-order: normal;
  fill: white;
}

.footer > a:hover:nth-child(n+2) > svg,
.footer > a:focus:nth-child(n+2) > svg {
  fill: $yellow;
  transition: 200ms ease-in-out fill;

  > path {
    stroke: $yellow;
  }
}
.footer > a:first-child > svg {
  width: 27px;

  > path {
    stroke-width: 4;
    fill: rgba(255, 255, 255, 0);
  }
}

.footer > a:hover:first-child > svg,
.footer > a:focus:first-child > svg {
  width: 34px;
  height: 30px;

  > path {
    stroke: white;
    fill: $yellow;
    // paint-order: normal;
    fill-rule: nonzero;
    // fill-rule: evenodd;
    stroke-width: 0;
    transition: 200ms ease-in-out fill;
  }
}

.footer > a {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B0C3CE;
  height: 82px;
  border-radius: 25px;

  &:hover, &:focus{
    text-decoration: none;
    box-shadow: 0px 0px 6px 2px rgba(95, 87, 11, 0.25);
    background-color: #FFF6DF;
    transition: 200ms ease-in-out all;
  }
}

.footer a.active {
  background-color: #FFF6DF;
  border-radius: 25px;
  box-shadow: 0px 0px 6px 2px rgba(95, 87, 11, 0.25);

  > svg {
    fill: $yellow;

    > path {
      stroke: $yellow;
    }
  }
}

#profil.active {
  border-radius: 25px;
  background-color: #FFF6DF;
  box-shadow: 0px 0px 6px 2px rgba(95, 87, 11, 0.25);

  svg {
    fill: $yellow;

    > path {
      stroke: $yellow;
    }
  }
}
// #profil.active {
  //   border-radius: 25px;
  //   background-color: #FFF6DF;

  //   svg {
    //     fill: $yellow;

    //     > path {
      //       stroke: $yellow;
      //     }
      //   }
      // }

      #recap.active {
        background-color: #FFF6DF;
        border-radius: 25px;
        box-shadow: 0px 0px 6px 2px rgba(95, 87, 11, 0.25);

        > svg {
          fill: $yellow;
          width: 34px;
          height: 30px;

          > path {
            stroke: white;
            fill: #FBC42B;
            fill-rule: nonzero;
            stroke-width: 0;
          }
        }
      }
