.mapboxgl-popup-content {
  box-shadow: none;
  background-color: transparent;
  width: 264px;
  font-family: "Montserrat";

  .img-pension {
    height: 144px;
    width: 220px;
    border-radius: 8px;
    object-fit: cover;
  }
  .pension-card {
    width: 245px;
    background-color: $white;
    margin: 0;
  }
  .pension-cards {
    width: 245px;
  }
  .pension-cards > :last-child {
    margin-bottom: 0px;
  }

  .mapboxgl-popup-close-button {
    right: 7px;
    top: 9px;
  }

  .card-name-rating {
    margin-top: 10px;
    margin-bottom: -2px;
    margin-right: 15px;
  }
  .detour-time-km {
    background-color: $background-light;
    padding: 7px;
    border-radius: 8px;
    margin-right: 15px;
  }

  .card-space-left2 {
    padding: 7px;
    margin-right: 15px;
    text-align: center;
  }

  .bck_red {
    background: #FF00000A;
    color: $red_qte;
    i{
      color: $yellow
    }
  }
  .bck_green {
    margin-right: 15px;
    background-color: #5BD3500D;
    color: $green_qte;
  }
}
  .card-content2 {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


  }
