.top-white-box {
  background-color: white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.04);
  border-radius: 0px 0px 40px 40px;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
  a {
    color: rgba(39, 70, 64, 0.6);
  }
  .return-link {
    font-weight: 700;
    display: block;
    padding: 25px;
  }
}

// <div class="top-white-box">
//  <%= link_to "< RETOUR", pension_path(@pension), class:"return-link"  %>
// </div>