.add_pet_card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 35px;
  color: $yellow;
  font-size: 32px;

  position: static;
  width: 79px;
  height: 102px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  box-shadow: 0px 2px 3px 1px rgba(126, 27, 27, 0.15);
  border-radius: 6px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 11px;
}

.pets_selector_card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  
  width: 79px;
  height: 102px;
  
  background: #FFFFFF;
  box-shadow: 0px 2px 3px 1px rgba(126, 27, 27, 0.15);
  border-radius: 6px;
  
  margin: 0px 11px;
}
.img_pet_card {
  background: url("https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/8/5/8/858743bb35_50169458_chien-min.jpg");
  border-radius: 5px;
  img {
    width: 69px;
    height: 69px;
    object-fit: cover;
  }
}
.name_and_breed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  padding: 0px 2px;
  padding-top: 2px;
  
  p {
    font-size: 12px;
    margin-bottom: 0;
  }

  img {
    height: 18px;
    width: auto;
  }
}