#booking-button-swipe {
  display: flex;
  justify-content: center;
  // padding: 0px 25px;
  border-radius: 8px;
  height: 52px;
  margin: 25px 0px;
}

#bookings-toggle-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 0px;
  width: 100%;
  border-radius: 8px 0px 0px 8px;

  background-color: $white;
  color: $yellow;

  font-family: $body-font;
  font-weight: 700;

  box-shadow: 0px 2px 3px rgba(126, 27, 27, 0.07);
  border: 1px solid transparent;
  margin-left: 25px;
}

#bookings-toggle-left.active {
background-color: $yellow;
color: white;
}

#bookings-toggle-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 0px;
  width: 100%;
  border-radius: 0px 8px 8px 0px;

  background-color: $white;
  color: $yellow;

  font-family: $body-font;
  font-weight: 700;

  box-shadow: 0px 2px 3px rgba(126, 27, 27, 0.07);
  border: 1px solid transparent;
  margin-right: 25px;

}

#bookings-toggle-right.active {
background-color: $yellow;
color: white;
}

#booking-index-title {
  margin-top: 30px;
  font-size: 26px;
}

.booking-page {
  color: $secondary-dark;
  letter-spacing: 0.01em;
  font-feature-settings: 'tnum' on, 'onum' on;
  height: calc(100vh - 112px);

}

.swiped-list-left {
  left: -100vw !important;
  transition: 400ms ease-in-out left;
}

#booking-list-past {
  left: 100vw;

}

.swiped-list-right {
  left: 100vw !important;
  transition: 400ms ease-in-out left;
}

.booking-list {
  width: 100vw;
  // // width: 375px;
  // overflow-x: hidden;
  overflow-y: scroll;
  // display: flex;
  // flex-direction: row;
  // position: relative;


   #booking-list-future, #booking-list-past {
    position: absolute;
    left: 0;
    transition: 400ms ease-in-out left;
    width: 100%;

    > :last-child {
      margin-bottom: 100px ;
    }
  }


}


.booking-card {
  border-radius: 8px;
  filter: drop-shadow(0px 2px 3px rgba(126, 27, 27, 0.1));
  background-color: white;
  padding: 20px;
  margin: 25px;


  p {
    margin: 0;
  }
}

// .hidden {
//   display: none;
// }


.img-booking-content {
  display: flex;
  // justify-content: space-between;

  img {
    width: 120px;
    height: 169px;
    border-radius: 8px;
    object-fit: cover;
    // margin-top: 12px;
    // margin-left: 12px;
  }

  .booking-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    height: 169px;
    line-height: 15px;
    letter-spacing: 0.02em;
    font-feature-settings: 'tnum' on, 'onum' on, 'ordn' on;

    .nb-resa {
      padding: 10px;
      border-radius: 8px;
      background-color: rgba(39, 70, 64, 0.12);
      width: 44px;
      height: 35px;
      font-size: 12px;
      margin-bottom: 0px;
      font-family: "Montserrat", "Helvetica", "sans-serif";
      font-feature-settings: 'tnum' on, 'onum' on, 'ordn' on;
      font-weight: 500;
    }

    .name-select-pension {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.01em;
      font-feature-settings: 'tnum' on, 'onum' on;
    }

    .booking-pets {
      display: flex;
      align-items: center;
      // margin-top: 20px;
      img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
      }

      p {
        margin: 0;
        // padding-left: 12px;
        font-size: 14px;
        margin: 0px 6px;
      }
    }
  }
}

.booking-time-dates {
  display: flex;
  justify-content: space-between;

  .booking-time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: $secondary-dark;
    border-radius: 8px;
    color: white;
    font-size: 10px;

    width: 63px;
    height: 33px;
  }

  .booking-dates {
    p {
      font-size: 13px;
      color: rgba(39, 70, 64, 0.4);
      letter-spacing: 0.01em;
      font-feature-settings: 'tnum' on, 'onum' on;
    }

    .au {
      margin-top: 12px;
    }
  }
}

.booking-total-price {
  display: flex;
  justify-content: space-between;

  > :last-child {
    color: #0E2012;
    letter-spacing: 0.01em;
    font-feature-settings: 'tnum' on, 'onum' on;
    font-weight: 500;
  }
}

circle {
  fill: #FBC42B;
}

// -----------------OLD CODE
// <div class="bookings-index-card">
//         <div class="booking-index-name&address">
//             <h5> <strong><%= Pension.select(:name).find(booking.pension_id).name %></strong></h5>
//             <p> <%= Pension.select(:address).find(booking.pension_id).address %> </p>
//         </div>
//         <div class="booking-index-booking-number">
//             <p>#14235671</p>
//         </div>
//       </div>

//       <div class="booking-index-cards-container">
//         <div class="booking-index-photos">
//           <%= image_tag 'bouvier.jpg' %>
//           <p></p>
//         </div>
//         <div class="booking-index-photos">
//           <%= image_tag 'bouvier.jpg' %>
//           <p></p>
//         </div>
//       </div>
//       <hr style="width:80%", size="3", color=#274640>
//       <div class="booking-index-dates-container">
//         <p>Du :</p>
//         <p> <%= booking.start_date.strftime("%d/%m/%Y") %> </p>
//       </div>
//       <div class="booking-index-dates-container">
//         <p>Au :</p>
//         <p> <%= booking.end_date.strftime("%d/%m/%Y") %> </p>
//       </div>
//       <div class="booking-index-dates-container">
//         <p>Nombre de jours :</p>
//         <%= pluralize (@total_days), "jour" %>
//       </div>
//       <hr style="width:80%", size="3", color=#274640>
//       <div class="booking-index-price">
//         <p>Prix total :</p>
//         <p> <%= booking.total_price %> € </p>
//       </div>
// -----------------OLD CODE

// .booking-index-return-link {
//   font-weight: 700;
//   display: block;
//   padding: 25px;
//   a {
//     text-decoration: none;
//     color:#274640;
//   }
// }

// .booking-index-title {
//   margin-top: 50px;
//   text-align: center;
//   margin-bottom: 35px;
// }

// .main-booking-card {
//   border-radius: 25px;
//   background-color: white;
//   padding: 25px;
//   margin-bottom: 25px;
// }

// .bookings-index-card {
//   display: flex;
//   justify-content: space-between;
// }

// .booking-index-cards-container {
//   display: flex;
//   justify-content: center;
// }

// .booking-index-photos {
//   box-shadow: 0px 2px 3px 1px rgba(126, 27, 27, 0.15);
//   border-radius: 6px;
//   margin-left: 12px;
//   margin-right: 12px;
//   img {
//     width: 69px;
//     height: 69px;
//     object-fit: cover;
//     padding: 5px;
//   }
//   p {
//     text-align: center;
//     margin-bottom: 5px;
//   }
// }

// hr {
//   margin: 25px;
//   text-align: center;
// }

// .booking-index-dates-container {
// display: flex;
// justify-content: space-between;
// }

// .booking-index-price {
//   display: flex;
//   justify-content: space-between;
// }
