.box-white {
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px 0px #10286542;
  padding: 20px;
  margin: 0px 25px;
  margin-bottom: 120px;
}
.contient_form {
  text-align: center;

}

.btn-yellow-top-box p {
  font-family: "montserrat";
  font-weight: 700;
  font-size: 16px;
  width: 340px;
  height: 48px;
  margin-left: 25px;
  background-color: $white;
  color: $green-black;
  border-radius: 25px 25px 25px 25px;
  text-align: center;
  line-height: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.btncontinuer {
  text-align: center;
  background-color: white;

}

#recap {
  text-align: center;
  .pets_selector_cards {
    color: $dark;
    justify-content: center;
    margin-bottom: 25px;
  }
}
#recap-pension-name {
  text-align: center;
  font-size: 26px;
  margin: 0;
  margin-bottom: 25px;
}
#recap-title {
  opacity: 0.6;
  padding-top: 25px;
}

.line {
  width: 260px;
  height: 0px;
  opacity: 0.2;
  border: 1px solid #274640;

  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.div-recap {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
  // text-align: left;
}

#pluriel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
  width: 103px;
  height: 103px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(126, 27, 27, 0.07);
  // padding: 0px 25px;

  // display: flex;



  // <% if @total_days <= 1  %>
  //         <p class="total-days"><%= @total_days %></p> <p>jour</p>
  //       <% else %>
  //         <p class="total-days"></p> <p>jours</p>
  //       <% end %>
  // p {
  //   margin-bottom: 0px;
  //   font-size: 13px;
  // }
}
// <%= pluralize @total_days, "jour" %>
#dates {
  padding-left: 25px;
  
  p {
    margin: 0;
    text-align: left;
    font-size: 13px;
  }
  #jusqu-au {
    padding-top: 12px;
  }
}
#test {
  // width: 41px;
  // height: 79px;
  padding: 0px 31px;
  font-size: 100%;
}
#address {
  display:flex;
  justify-content: space-between;
  padding: 0px 25px;
  p {
    font-size: 14px;
    width: 142px;
    margin: 0;
  }

  i {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
    color: $dark;
  }
}

// #days {
//   width: 100%;
// }

.contient_form {
  text-align: center;
  margin-bottom: 100px;
  padding: 0px 25px;

}
#nb-days {
  display: flex;
  // justify-content: space-evenly;
}
.id-days {
  font-size: 41px;
  font-weight: bold;
  margin: 0;
}
.div-price {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;

  .price-day {
    display: flex;
    // flex-direction: colu;
    justify-content: space-between;
  }
}